<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>About</h1>
      <hr>
      <h2>概要</h2>
      <p>
        カメラマンの予約を行うサイト。 カメラマンの経験やプロフィールを記載し、 カメラマンの予定に合わせて空き時間を記載して、ユーザーが空き時間を予約することが出来るサイト。
      </p>

    </div>
  </div>
</div>
