
<div class="container">
  <div class="row">

   <div class="col-md-3">
     <h1>admin info</h1>

<div class="profile-container">
  <%= attachment_image_tag @admin, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %>
  <hr>

  <th><h3>名前</h3></th>
  <th><h3><%= @admin.name %></h3></th>

  <hr>
 <h3>introduction</h3>
  <h3><%= @admin.introduction %></h3>




  <!--プロフィール変更-->
    <%= link_to admin_customer_edit_path(@admin), class:"btn btn-primary col-xs-5 col-xs-offset-5" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>

</div>
   </div>


    </div>
  </div>
