<div class="container">
  <div class="row">
    <div class="col-mx-1">
      <table class="table imte">
        <h1>予約確認</h1>
        
        <tr>
          <th><p>予約日</p></th>
          <th><p>時間数</p></th>
        </tr>
        <% @reservation.each do |r| %>
        <tr>
          
          <td>
            
            <%= r.reservation_date %>
          </td>
          
          <td>
            <%= r.time %>
            
          </td>
          <td><%= link_to "Destroy", calendar_destroy_path(r), method: :delete, class:"btn btn-danger" %></td>
        </tr>
        <% end %>
      </table>

      <%#= f.select :amount, [1,2,3,4,5,6,7,8,9,10,11] %>
      <br>
      <%#= f.submit "カートに入れる" ,class: 'btn btn-primary' %>
      <%# end %>
    </div>
  </div>
</div>